
<!-- TOP TOOLBAR-->
<mat-toolbar>
    <span class="logo" routerLink="/">🚗 Vintage Car Community</span>

    <span class="fill-space"></span>
    <div>
        <a mat-button routerLink="/dashboard">⚡ Dashboard</a>
        <a mat-button routerLink="/login" *ngIf="!(afAuth.authState | async)">🔑 Login</a>
        <a mat-button routerLink="/login" *ngIf="afAuth.authState | async as user" >
          <img class="avatar" [src]="user.photoURL || 'assets/default-user.svg'">
          Profil
        </a>

    </div>
</mat-toolbar>

<!-- Content-->    
<ng-content></ng-content>
