<mat-card>
    <div *ngIf="isSignup">
      <h3>Registriegen</h3>
      <button mat-raised-button
        color="accent"
        type="submit" class="login-type" (click)="changeType('login')">
        Hier zum Einloggen
      </button>
    </div>
  
    <div *ngIf="isLogin">
      <h3>Einloggen</h3>
      <button mat-raised-button
        color=""
        type="submit" class="login-type"  (click)="changeType('signup')">
        Neuer Benutzer?
      </button>
    </div>
  
    <div *ngIf="isPasswordReset">
      <h3>Passwort zurücksetzen</h3>
      <button size="small" mat-button (click)="changeType('login')">Back</button>
    </div>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field [color]="email?.valid ? 'accent' : 'primary'">
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email"
          autocomplete="off"
        />
  
        <mat-error *ngIf="email?.invalid && email?.dirty">
          E-Mail Adresse ungültig
        </mat-error>
      </mat-form-field>
  
      <mat-form-field [color]="email?.valid ? 'accent' : 'primary'" *ngIf="!isPasswordReset">
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
          autocomplete="off"
        />
  
        <mat-error *ngIf="email?.invalid && email?.dirty">
          Paswswort muss mindestens 6 Zeichen haben
        </mat-error>
      </mat-form-field>
  
      <mat-form-field
        [color]="passwordDoesMatch ? 'accent' : 'warn'"
        *ngIf="isSignup"
      >
        <input
          matInput
          formControlName="passwordConfirm"
          type="password"
          placeholder="Confirm password"
          autocomplete="off"
        />
  
        <mat-error *ngIf="passwordConfirm && !passwordDoesMatch">
          Passwörter stimmen nicht überein
        </mat-error>
      </mat-form-field>
  
      <mat-error class="server-error">{{ serverMessage }}</mat-error>
  
      <button
        *ngIf="isPasswordReset"
        mat-stroked-button
        type="submit"
        [disabled]="loading"
      >
        E-Mail zum zurücksetzen schicken
      </button>
  
      <button
        *ngIf="!isPasswordReset"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="form.invalid || !passwordDoesMatch || loading"
      >
        Anmelden
      </button>
    </form>
  
    <button
      mat-button
      *ngIf="isLogin && !isPasswordReset"
      (click)="changeType('reset')"
    >
      Passwort vergessen?
    </button>
  </mat-card>